*{
    margin: 0px;
    padding: 0px;
}
.sec{
    background-image: url("blue_bg.png");
    display: flex;
    justify-content: space-between;
    position: relative;
}
.navleft{
    display: flex;
    align-items: center;
}
.home{
    border-bottom: 3px rgba(133, 14, 133, 0.8) solid;}
.navleft a{
    text-decoration: none;
    margin: 10px;
    color: black;
}
.navright{
   display: flex;
   position: relative;
   margin-top: 10px;
   margin-right: 30px;
   align-items: center;
}
.navright h3{
    position: absolute;
    margin-left: 30px;
    margin-bottom: 8px;
}
.ss{
    margin-left: 50px;
    margin-top: 100px;
    align-items: center;
}
.pp{
  
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    color: rgb(122, 117, 128);
    margin: 0px 12px;
    font-size: 33px;
}
p{
    font-size:30px;
    color: rgb(165, 164, 163);
}
span{ color: darkmagenta;}
.img{
    display: flex;
}
.img{ 
    position: relative;
    z-index: -2;
}
.img2{
    position: absolute;
    margin-left: 780px;

}
.mm{
    position: absolute;
    margin-left: 80px;
    margin-top: 25px;
    z-index:-1;
}
.cc{
    position: relative;
    margin-top: 410px;
    margin-left: 70px;
    z-index: -1;
}
.wave{
    position: absolute;
  margin-top: 250px;
}
.sec2{
display: flex;

margin-left: 100px;

}
.image{
    position: absolute;
    margin-left: 120px;
    margin-top: 50px;
}
.image2{
    margin-top: 120px;
    
}
.image3{
    position: relative;
    margin-left:490px;
   
}

.prag{
    text-align: center;
   font-size: 19px;
    font-family: 'Times New Roman', Times, serif, Helvetica, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.prag0{
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif, Helvetica, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.prag2{
     font-size: 19px;
    font-family: 'Times New Roman', Times, serif, Helvetica, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 350px;
}
.sec3{
    display: flex;
    justify-content: space-around;
}
.divo{
    display: flex;
    color: white;
}
.migo{
    position: relative;
}
.prag3{
    position: absolute;
    margin-left: 70px;
    margin-top: 90px;
    font-size: 17px;
}
.prag4{
    position: absolute;
    margin-left: 70px;
    margin-top: 120px;
    font-size: 35px;
}
.sec4{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sec5{
    background-image: url("Group\ 1131.png");
    background-position: top;
    display: flex;
    justify-content: space-between;
    height: 600px;
    position: relative;
    
}
.div1{
    display: flex;
}
.box{
    width: 130px;
      height: 50px;
      background-color: white;
      border-radius: 10px 10px 10px 10px;
      margin: 10px;
      position: relative;
}
.box2{
    width: 130px;
    height: 50px;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    margin: 10px;
    position: relative;
}
.divbaner{
    display: flex;
    position: absolute;
    margin: 20px;
    bottom:-85px;
    background-color: white;
    border-radius: 10%;
    left:-30px;
}
.divbaner2{
    display: flex;
    position: absolute;
    margin: 20px;
    margin-left: 180px;
    bottom:-85px;
    background-color: white;
    border-radius: 10%;
    left:-50px;
}
.div2{
    margin-top: 100px;
    margin-left: 20px;
    position: absolute;
    bottom: -110px;
}
.div3{
    margin-top: 97px;
    margin-left: 70px;
    position: absolute;
    bottom:-120px;
}
.div4{
    margin-top: 100px;
    margin-left: 120px;
    position: absolute;
    bottom:-120px;
}
.div5{
    position: absolute;
    margin-top: 90px;
    bottom: -150px;
}
.div5 a{
    text-decoration: none;
    margin: 7px;
    color: white;
    font-size: 16px;
}
.pos{
    position: absolute;
    margin-top: 320px;
    margin-left: 50px;
}
.div6{
position: absolute;
margin-left: 640px;
bottom: -10px;
right:-20px;

}
.group{
    position: relative;
}
.less{
    position: absolute;
    margin-top: 120px;
margin-right: 500px;
}
.less2{
    position: absolute;
    margin-top: 120px;
    margin-left: 500px;
}

<div class="less"> <img src="icons8-less-than-50.png" ></div>
<div class="less2"> <img src="icons8-less-than-50 (1).png" ></div>